

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
    </div>
    <div class="col">
<div class="container">
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    
    <div class="row justify-content-center">
      
    
    <div class ="col-6"  style= "margin-top:75px;">
        
        
        
        
            <p style="font-family: Courier; font-size:400%; text-align:center; color: #009218;" > <B>LOGIN HERE!!!</B></p>

            <form method="POST" autocomplete="off">

                <fieldset class="form-group" style= "margin-bottom:15px;">
                <input type="text" class="form-control"
                    id="username"
                    placeholder=" USERNAME HERE"
                    name="username" required autofocus>
                </fieldset>

                <fieldset class="form-group" style= "margin-bottom:20px;">
                
                    <input type="password" class="form-control"
                    id="password"
                    placeholder="PASSWORD HERE"
                    name="password" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                    
                    
                </fieldset> <BR>
                </BR>
                <p style="color: rgb(0, 0, 0);" > NEW HERE? <a href="/register"> JOIN HERE</a></p>    
                 
               
            </form>

          
            
        
        
    </div>    
    </div>
    </div>
  </div>
  
  </div>
  </div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>